
      <div>id:{{parentData.id}}</div>
      <div>title:{{parentData.title}}</div>
      <div>author:{{parentData.author}}</div>
      <div>price:{{parentData.price}}</div>
      <div>rating:{{parentData.rating}}</div>
      <button (click)="anotherRate(parentData,1)">1</button>
      <button (click)="anotherRate(parentData,2)">2</button>
      <button (click)="anotherRate(parentData,3)">3</button>
      <button (click)="anotherRate(parentData,4)">4</button>
      <button (click)="anotherRate(parentData,5)">5</button>
  <hr>
