

<div class="container">
<h1>{{title}}</h1>
<input type="text" class="todo-input" #newTodo>
<button (click)="addTodo(newTodo.value); newTodo.value=''">Add Todo</button>
  <table class="to-table">
    <tr>
      <th>lebel</th>
      <th>Priority</th>
      <th>Done</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let todo of todos;" >
      <td>{{todo.lebel}}</td>
      <td>{{todo.priority}}</td>
      <td>{{todo.done? '&#10003;' : '&#10005;'}}</td>
      <td><button (click)="deleteTodo(todo)">delete</button></td>
    </tr>
  </table>

</div>

